# API Keys
OPENAI_API_KEY=
ELEVEN_LABS_API_KEY=
DEEPGRAM_API_KEY=
PINECONE_API_KEY=

# Microsoft Graph API Credentials
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
USER_EMAIL=

# Pinecone Configuration
PINECONE_ENVIRONMENT=

# Server Configuration
PORT=3000
HOST=localhost

# OpenAI Configuration
OPENAI_MODEL=gpt-3.5-turbo-1106
OPENAI_MAX_TOKENS=1000
OPENAI_TEMPERATURE=0.6

# Eleven Labs Configuration
ELEVEN_LABS_VOICE_ID=cgSgspJ2msm6clMCkdW9

# Deepgram Configuration
DEEPGRAM_API_URL=https://api.deepgram.com/v1/listen

# Assistant Configuration
ASSISTANT_NAME=Virtual Assistant
ASSISTANT_CONTEXT=You are a personal assistant for Purdue Fort Wayne University students.
ASSISTANT_FACIAL_EXPRESSIONS=smile, sad, angry, surprised, funnyFace, default
ASSISTANT_ANIMATIONS=Talking_0, Talking_1, Talking_2, Crying, Laughing, Rumba, Idle, Terrified, Angry

# OpenAI Configuration
OPENAI_SUMMARIZE_MODEL=gpt-4
